@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#ff9a92,#fad0c4)!important
}

.app{
  min-height:100vh;
  padding: 24px;
  display:flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.theme-btn{
  padding: 10px 14px ;
  border-radius: 14px;
  background:#ffffff;
  color: #e75480;
  font-weight: 700;
  margin-bottom: 20px;
}

.light{
  background:linear-gradient(135deg,#ff9a92,#fad0c4)!important ;
  color:#222;
}

.dark{
  background: linear-gradient(135deg,#1f1c2c,#928dab);
}

.taskbox{
  background:#ffffff;
  text-align: center;
  margin-bottom: 15px;
  border:1px solid #f06292;
  border-radius: 25px;
  transition: all 0.3 !important;
  box-shadow: 0 2px 8px rgba(0, 0,0, 0.1);
  padding: 15px;
}

.taskbox:hover{
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0,0, 0.4);
  transform: translateY(-3px);
}

.iconbutton{
  transition: all 0.3 !important ;
}

.iconbutton:hover{
  background-color:#616161 !important ;
}

.taskcontainer{
  width:min(100%,460px);
  padding:24px;
  
}

.boxcard{
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}

.header{
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 10;
  padding: 10px 0;
  backdrop-filter: blur(6px);
}

/* Responsive */

@media(max-width:600px){
  .app{
    padding:12px;
    align-items:flex-start;
  }
}